header, body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #15171E;
    height: 150px;
    width: 100%;
}

.header-content {
    width: 1920px;
    margin: 0 auto;
    height: 150px;
    display: flex;

}

.center-alignment {
    position: relative;
    width: 1920px;
    margin: 0 auto;
}

.logo-block {
    display: inline-flex;
    width: 286px;
    height: 91px;
    justify-content: space-between;
}

.logo-block_p {
    margin-left: 240px;
    margin-top: 25px;
}

.logo-block__img {

}

.logo__content {
    color: white;
    width: 210px;
    height: 107px;
}

.content__top-text {
    font-family: "gilroy_regular", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 211px;
    height: 27px;
}

.content__top-text_p {
    margin-top: 8px;
    margin-left: 7px;
}

.content__middle-text {
    display: flex;
    height: 26px;
    font-size: 31px;
    text-transform: uppercase;
}

.content__middle-text_p {
}

.top_text__dividing-line {
    width: 140px;
    height: 1px;
    background-color: white;
}

.dividing-line {
    height: 1px;
    background-color: white;
}

.dividing-line_top {
    width: 140px;
    margin-left: 16px;
}

.dividing-line_bottom {
    width: 80px;
    margin-right: 22px;
}

.content__bottom-text {
    font-family: "gilroy_regular", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 211px;
    height: 30px;
}

.content__bottom-text_p {

}

.gilroy {
    font-family: "palatino-linotype-bold", sans-serif;

}

.menu {
    display: flex;
    font-family: "gilroy_regular", sans-serif;
    font-size: 19px;
    color: white;
}

.menu {
    display: flex;
    font-family: "gilroy_regular", sans-serif;
    font-size: 19px;
    color: white;
}

.footer__menu {
    display: flex;
    font-family: "gilroy_regular", sans-serif;
    font-size: 19px;
    color: white;
    justify-content: center;

}

.menu_p {
    margin-top: 36px;
}

.menu__part {
    margin-right: 26px;
    flex-direction: column;
}

.menu__part:hover {
    margin-right: 26px;
    flex-direction: column;
    color: #EDC5A2;
}

.menu__part_p {

}


.social-nets {
    display: flex;
}

.social-nets_p {
    margin-top: 35px;
    margin-left: 121px;
}

.social-nets__icon {
    margin-left: 11px;
}

.vk_p {
    margin-top: 3px;
}

.phone_number {
    flex-direction: column;
    display: flex;
    font-family: "gilroy_bold", sans-serif;
    font-size: 36px;
    color: #EDC5A2;
    height: 43px;
    letter-spacing: 2px;
}

.letter-space {
    letter-spacing: 12px;
}

.phone_number_p {
    margin-top: 18px;
}

.mobile-app {
    display: flex;
    width: 319px;
    justify-content: space-between;
}

.mobile-app_p {
    margin-left: 300px;
    margin-top: 11px;
}

.mobile-app__icon {
    flex-direction: row;
}

.content-block {
    flex-direction: column;
    margin-left: 203px;
}

.content-block_up {
    display: flex;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid gray;
}

.content-block_down {
    display: flex;
}

.content-block_down_p {

}

.main-part {
    position: relative;
    width: 100%;
    background: url("/img/main_banner.png") no-repeat;
    background-size: cover;
}

.main-part__content {
    margin: 0 auto;
    width: 1920px;
}


.background-image {
    width: 100%;
    height: 100%;
    position: absolute;

}

.main-part__title {
    position: absolute;
    font-family: "gilroy_regular", sans-serif;
    font-size: 39px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.main-part__title_p {
    margin-top: 134px;
    margin-left: 452px;
}

.transparent-text {
    font-family: "gilroy_heavy", sans-serif;
    font-size: 73px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #EDC5A2;
    letter-spacing: 0.08em;


}

.transparent-text_p {
    margin-top: 27px;
}

.main-part__button {
    width: 1920px;
    margin: 0 auto;
}

.main-part__menu-button {
    display: block;
}

.main-part__menu-button:before {
    content: '';
    background-image: url('/img/menu_button.png');
    background-size: cover;
    position: absolute;
    width: 48px;
    height: 47px;
    margin-left: 1632px;
    margin-top: 130px;
    z-index: 30;
}

.main-part__menu-button:hover::before {
    content: '';
    background-image: url('/img/menu_button_focus.png');
    background-size: cover;
    position: absolute;
    width: 48px;
    height: 47px;
    margin-left: 1632px;
    margin-top: 130px;
    z-index: 30;
}

.slider__item {

}

.slick-slider {
}

/*Ограничивающая оболочка*/
.slick-list {
    overflow: hidden;
}

/*Лента слайдов*/
.slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-out;
}

.slick-slide {

}

.slick-slide.slick-active {

}

.slick-slide.slick-current {

}

.slick-slide.slick-center {

}

.slick-arrow {

}

.slick-arrow.slick-prev {
}

.slick-arrow.slick-next {
}

.slick-arrow.slick-disabled {
}

.slick-dots {
}

.main-part__slider {
    position: relative;
    background: transparent;
    width: 1440px;
    margin: 0 auto;

}

.main-part__slider_p {
    padding-top: 362px;
    padding-bottom: 157px;
}

.main-part__slider .slick-arrow {
    z-index: 10;
    font-size: 0;
    width: 45px;
    height: 45px;
    border: none;
}

.main-part__slider .slick-arrow.slick-prev {
    position: absolute;
    right: 6%;
    top: 327px;
    background: url('../img/arrow_left.png') 0 0/ 100% no-repeat;

}

.main-part__slider .slick-arrow.slick-prev:hover {
    position: absolute;
    right: 6%;
    top: 327px;
    background: url('../img/arrow_left_hover.png') 0 0/ 100% no-repeat;

}

.main-part__slider .slick-arrow.slick-next {
    position: absolute;
    background: url('../img/arrow_right.png') 0 0/ 100% no-repeat;
    right: -5px;
    top: 326px;
}

.main-part__slider .slick-arrow.slick-next:hover {
    position: absolute;
    background: url('../img/arrow_right_hover.png') 0 0/ 100% no-repeat;
    right: -5px;
    top: 326px;
}

.main-part__slider .slick-dots {
    background: transparent;
    display: flex;

}

.main-part__slider .slick-dots li {
    list-style: none;
}

.main-part__slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 2px;
    background-color: white;
    border: none;

}

.main-part__slider .slick-dots li.slick-active button {
    background-color: #EDC5A2;
}

.main-part .slider__item {
    transition: all 0.3s ease 0s;
    text-align: center;
    width: 456px;
    height: 407px;
}

.main-part .slider__item.slick-center.slick-current {
    opacity: 1;
    z-index: 20;
    width: 658px;
    height: 462px;
}

.main-part .slider__item img {
    max-height: 100%;

}

.main-part .slick-slide.slick-active {
    width: 270px;
    height: 407px;
    z-index: 15;
    opacity: 1;

}

.main-part .slick-slide {
    width: 366px;
    height: 326px;
    z-index: 10;
    opacity: 1;
}

.main-part .slick-active ~ .slick-slide {
    direction: rtl;
}

.main-part .slider__point {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #EDC5A2;
    border-radius: 50%;
    z-index: 20;
}

.main-part .slider__point_p {
    right: 298px;
    top: 347px
}

.rent-part {
    background: #15171E;
    padding-bottom: 140px;
}

.title-block {
    text-align: center;
    font-family: "gilroy_regular", sans-serif;
    font-size: 24px;
    color: white;
    text-transform: uppercase;

}

.title-block_p {
    padding-top: 143px;

}

.title-block__colored_text {
    font-family: "gilroy_heavy", sans-serif;
    font-size: 48px;
    color: #EDC5A2;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.title-block__colored_text_p-rent-part {
    margin-top: 18px;

}

.rent-block {
    display: flex;
    flex-direction: row;
    padding-top: 85px;
    align-items: center;
}

.rent-block__item {
    position: relative;

}

.item__button-link {
    display: flex;
    position: absolute;
    font-family: "gilroy_semibold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    width: 222px;
    height: 48px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.item__button-link:hover {
    display: flex;
    position: absolute;
    font-family: "gilroy_semibold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    width: 222px;
    height: 48px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background: #EDC5A2;
}

.item__button-link_p {
    top: 290px;
    left: 208px;
}

.auto-park {
    background-color: #15171E;
    text-align: center;
}

.auto-park__title {
    padding-top: 142px;
}

.auto-park__car-choice {
    display: flex;
    font-family: "cera_pro_regular", sans-serif;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    justify-content: center;

}

.auto-park__car-choice_p {
    padding-top: 54px;
}

.straight-line {
    margin-left: 18px;
    margin-right: 18px;
}

.auto-park__slider {
    position: relative;
}

.auto-park__slider_p {
    padding-top: 62px;
    padding-bottom: 137px;
}

.auto-park__slider .slick-arrow {
    z-index: 10;
    font-size: 0;
    width: 45px;
    height: 45px;
    border: none;
}

.auto-park__slider .slick-arrow.slick-prev {
    position: absolute;
    right: 378px;
    top: -34px;
    background: url('../img/arrow_left.png') 0 0/ 100% no-repeat;

}

.auto-park__slider .slick-arrow.slick-prev:hover {
    position: absolute;
    right: 378px;
    top: -34px;
    background: url('../img/arrow_left_hover.png') 0 0/ 100% no-repeat;

}

.auto-park__slider .slick-arrow.slick-next {
    position: absolute;
    right: 227px;
    top: -35px;
    background: url('../img/arrow_right.png') 0 0/ 100% no-repeat;
}

.auto-park__slider .slick-arrow.slick-next:hover {
    position: absolute;
    background: url('../img/arrow_right_hover.png') 0 0/ 100% no-repeat;
    right: 227px;
    top: -35px;
}

.auto-park__slider .slick-dots {
    position: absolute;
    background: transparent;
    display: flex;
    top: -25px;
    right: 295px;
}

.auto-park__slider .slick-dots li {
    list-style: none;
}

.auto-park__slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 2px;
    background-color: white;
    border: none;

}

.auto-park__slider .slick-dots li.slick-active button {
    background-color: #EDC5A2;
}

.auto-park .slider__item {

}

.auto-park .slider__item.slick-slide.slick-active {
    position: relative;
}

.auto-park .slider__item img {


}

.auto-park .slick-slide .slick-active {
    opacity: 1;
}

.auto-park .slick-slide {
}

.auto-park .slider__point {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #EDC5A2;
    border-radius: 50%;
    z-index: 20;
}

.auto-park .slider__point_p {
    right: 250px;
    top: 130px
}

.auto-park .slick-slide {
    width: auto;
    height: 380px;
}

.conditions-part {
    width: 100%;
    background: url("/img/rent_background.png");
    background-size: cover;
    height: 1271px;
}

.title-block__colored_text_p-conditions-part {
    margin-top: 16px;
}

.conditions-part__menu {
    display: flex;
    margin-left: 240px;
    padding-top: 75px;

}

.conditions-part__menu a {

    font-family: "gilroy_bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.conditions-part__menu li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid grey;
}

.conditions-part__list li {
    position: relative;
    list-style: none;
    padding-bottom: 20px;
    padding-top: 17px;
    border-bottom: 1px solid grey;
}

.conditions-part__list {
    width: 870px;
}

.conditions-part__link {
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 20px;
    color: white;
}

.conditions-part__link:hover {
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #EDC5A2;
}

.conditions-part_text li {
    border: none;

}

.conditions-part_text {
    display: none;
    left: 0;
    font-family: "gilroy_regular", sans-serif;
    font-size: 16px;
    color: white;
    line-height: 25px;
    margin-top: 28px;
}

.arrow {
    position: relative;
    cursor: pointer;
    width: 8px;
    height: 8px;
}

.arrow_p {
    float: right;
    margin-top: 2px;
    margin-right: 13px;
}

.arrow-left {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 0;
    width: 8px;
    height: 2px;
    display: block;
    transform: rotate(35deg);
    float: right;
}

.arrow-left:after {
    content: "";
    background-color: white;
    width: 8px;
    height: 2px;
    display: block;
    float: right;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.arrow-right {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 5px;
    width: 8px;
    height: 2px;
    display: block;
    transform: rotate(-35deg);
    float: right;

}

.arrow-right:after {
    content: "";
    background-color: white;
    width: 8px;
    height: 2px;
    display: block;
    float: right;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.open .arrow-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}

.open .arrow-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
}


.conditions-part__icon {
    float: right;
}

.conditions-part__sub-list {

}

.conditions-part__sub-list li {
    padding-top: 5px;
}

.conditions-part_text li {
    border: none;
}

.conditions__requirements {
    position: relative;
    background-color: #232731;
    height: 658px;

}

.conditions-part__frame {
    position: absolute;
    width: 390px;
    height: 704px;
    border: 1px solid #EDC5A2;

}

.conditions-part__frame_p {
    top: -26px;
    left: 24px
}


.conditions__requirements_p {
    margin-left: 179px;
    margin-top: 100px;

}

.requirements__item {
    display: flex;
    padding: 45px 102px 0 57px;
}

.requirements__content {
    flex-direction: column;
    display: flex;
}

.requirements__title {
    flex-direction: column;
    font-family: "gilroy_bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}

.requirements__content_p {
    /*width: 205px;*/
}

.requirements__img {
    width: 18px;
    height: 18px;

}

.requirements__img_p {
    padding-top: 1px;
    margin-right: 10px;
}

.requirements__img_big {
    width: 24px;
    height: 24px;
}

.requirements__text {
    font-family: "gilroy_regular", sans-serif;
    font-size: 16px;
    color: white;
    line-height: 25px;
    letter-spacing: 1.5px;
}

.requirements__text_p {
    margin-top: 9px;
}

.reviews-part {
    background: #0A0C11;
    height: 883px;
}

.reviews-part__clients {
    display: flex;
    flex-direction: row;
    width: 1437px;
    justify-content: space-between;
}

.reviews-part__clients_p {
    padding-left: 245px;
    padding-top: 86px;
}

.review-part__item {
    display: flex;
}

.review-part__item_p {

}

.reviews-part__img {
    flex-direction: row;
    width: 58px;
    height: 58px;
}

.reviews-part__content {
    display: flex;
    flex-direction: column;
}

.reviews-part__content_p {
    padding-left: 8px;
    padding-top: 2px;
}

.reviews-part__name {
    font-family: "gilroy_bold", sans-serif;
    font-size: 18px;
    color: white;
    text-transform: uppercase;

}

.reviews-part__city {
    font-family: "gilroy_regular", sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 16px;
}

.reviews-part__comment {
    display: flex;
    flex-direction: column;
    width: 625px;
    flex-wrap: wrap;
}

.reviews-part__comment_p {
    margin-top: 85px;
}

.comment__name {
    font-family: "gilroy_bold", sans-serif;
    font-size: 36px;
    color: white;
}

.comment__name_p {

}

.comment__text {
    font-family: "gilroy_regular", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0.8;
    line-height: 26px;
}

.reviews-part__slider_p {
    padding-left: 240px;
}

.reviews-part__slider {
    width: 625px;
    position: relative;
}

.comment__text_p {
    margin-top: 20px;
}

.comment__grade {
    display: flex;
    flex-direction: row;

}

.comment__grade_p {
    margin-top: 25px;

}

.grade__star {
    margin-left: 10px;
}

.comment__add {
    font-family: "gilroy_regular", sans-serif;
    font-size: 18px;
    color: #EDC5A2;
    text-decoration: none;
}

.comment__add_p {
    margin-left: 350px;
}

.reviews-part__slider .slick-list.draggable {
    padding: 0 0 0 0 !important
}

.reviews-part__slider .slick-slide.slick-current.slick-active.slick-center {

}

.reviews-part__slider .slick-track {

}

.reviews-part__slider .slick-active {

}

.reviews-part__slider .slick-dots {
    position: absolute;
    background: transparent;
    display: flex;
    top: 81px;
    right: 78px;
}

.reviews-part__slider .slick-dots li {
    list-style: none;
}

.reviews-part__slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 2px;
    background-color: white;
    border: none;

}

.reviews-part__slider .slick-dots li.slick-active button {
    background-color: #EDC5A2;
}

.reviews-part__slider .slick-arrow {
    z-index: 10;
    font-size: 0;
    width: 45px;
    height: 45px;
    border: none;
}

.reviews-part__slider .slick-arrow.slick-prev {
    position: absolute;
    right: 160px;
    top: 74px;
    background: url('../img/arrow_left.png') 0 0/ 100% no-repeat;

}

.reviews-part__slider .slick-arrow.slick-prev:hover {
    position: absolute;
    right: 160px;
    top: 74px;
    background: url('../img/arrow_left_hover.png') 0 0/ 100% no-repeat;

}

.reviews-part__slider .slick-arrow.slick-next {
    position: absolute;
    background: url('../img/arrow_right.png') 0 0/ 100% no-repeat;
    top: 72px;
    right: 11px;
}

.reviews-part__slider .slick-arrow.slick-next:hover {
    position: absolute;
    background: url('../img/arrow_right_hover.png') 0 0/ 100% no-repeat;
    top: 72px;
    right: 11px;
}

.center-alignment_reviews {
    position: relative;
}

.reviews-part__video-img {
    width: 972px;
    height: 421px;
}

.reviews-part__video_p {
    position: relative;
    float: right;
    margin-top: -280px;
    text-align: center;
}

.play-button {
    position: absolute;
    width: 113px;
    height: 113px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid white;
}

.play-button_p {
    left: 455px;
    top: 154px
}

.play__arrow {
    position: absolute;
    border: 30px solid transparent;
    border-left: 30px solid white;
}

.play__arrow_p {
    left: 46px;
    top: 26px;
}

.play__frame {
    position: absolute;
    width: 947px;
    height: 420px;
    background: transparent;
    border: 1px solid #EDC5A2;
}

.play__frame_p {
    top: -180px;
    left: -432px;
}

.center-alignment_contacts {
    position: relative;
}

.contacts-part {
    background: url("/img/contact_background.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 615px;
}

.conditions-part__location-icon {
    position: absolute;
    height: 111px;
    width: 98px;
    left: 463px;
    top: 175px;
}

.contacts-part__content-field {

    background: #232731;
    padding: 26px 0 20px 45px;
    position: absolute;
    width: 570px;

}

.contacts-part__content-field_p {
    left: 948px;
    top: 69px;

}

.content-field__item {
    display: flex;
    flex-direction: column;
    position: relative;

}

.content-field__item_p {

}

.content-title {
    font-family: "gilroy_black", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.content-text {
    font-family: "gilroy_regular", sans-serif;
    font-size: 16px;
    color: gray;
    letter-spacing: 1px;
}

.content-text_p {
    margin-top: 18px;
    margin-bottom: 18px;
}

.close-icon {

}

.close-icon:before, .close-icon:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 3px;
    background: white;
    top: 15px;
    left: 518px;
}

.close-icon:before {
    transform: rotate(45deg);
}

.close-icon:after {
    transform: rotate(-45deg);
}

.content-field__location-icon {
    position: absolute;
    width: 30px;
    height: 30px;
}

.content-field__location-icon_p {
    top: 21px;
    left: -2px;
}

.item__text {
    font-family: "gilroy_regular", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: white;
    line-height: 25px;

}

.item__text_p {
    margin-left: 42px;
    margin-top: 10px;
}

.item__bottom-text {
    font-family: "gilroy_regular", sans-serif;
    font-size: 14px;

    color: #CFCFCF;
}

.content-field__mail-icon {
    width: 25px;
    height: 25px;
    position: absolute;
}

.content-field__mail-icon_p {
    top: 108px;
    left: 2px;
}

.item__text_p-mail {
    margin-left: 41px;
    margin-top: 32px;
}

.content-field__item_button {
    display: flex;
    flex-direction: column;
}

.content-field__button {
    display: flex;
    flex-direction: row;

}

.content-field__button_p {

}

.number_top {
    font-family: "gilroy_black", sans-serif;
    font-size: 24px;
    color: white;
}

.number {
    font-family: "gilroy_regular", sans-serif;
    font-size: 14px;
    color: #CFCFCF;
    line-height: 22px;
}

.number_p {
    margin-top: 56px;
    padding-left: 63px;
}

.button__rent {
    width: 222px;
    height: 48px;
    border: 1px solid white;
    background: transparent;
    border-radius: 6px;
    font-family: "gilroy_bold", sans-serif;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.button__rent:hover {
    width: 222px;
    height: 48px;
    border: 1px solid white;

    border-radius: 6px;
    font-family: "gilroy_bold", sans-serif;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background: #EDC5A2;
}

.button__rent_p {
    margin-top: 51px;
}

.nets__text {
    font-family: "gilroy-regular", sans-serif;
    font-size: 16px;
    color: white;
}

.nets__text_p {
    margin-top: 41px;
    margin-left: -1px;
}

.content-field__nets {
    display: flex;
    flex-direction: row;
}

.social-nets_p-contacts {
    margin-top: 38px;
    margin-left: 174px;
}

.contacts-part_line_top {
    position: absolute;
    top: 108px;
}

.contacts-part_line_bottom {
    position: absolute;
    top: 40px;
}

footer {
    background: #15171E;
    text-align: center;
    padding-top: 38px;
}

.footer__menu_p {
    margin-top: 56px;
}

.footer__line_left {
    background-color: grey;
    float: left;
    height: 1px;
    width: 860px;
    margin-top: 5px;
}

.footer__line_right {
    background-color: grey;
    float: right;
    height: 1px;
    width: 860px;
    margin-top: 5px;
}

.footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;

}

.copyright__text {
    font-family: "gilroy_regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: white;


}

.footer__copyright_p {

}

.footer_politics {
    font-family: "gilroy_regular", sans-serif;
    font-size: 18px;
    color: #CFCFCF;

}

.footer_politics_p {
    margin-top: 18px;
}

.social-nets_p-footer {
    margin-top: 22px;
    justify-content: center;
    margin-left: -12px;
}

.social-nets__icon_p-footer {
    margin-left: 20px;
}
